/*comment*/


body {
  color:#000000;
  background-color: #fff2cc;
  margin: 4%;
  margin-top: 2%;
}

h1 {
  text-align: center;
  background-color: #ccdfac;
  /*background-image: url("moss.jpg");*/
  font-variant: small-caps;
  color: #E53D0F;
}
